* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .2s;
}

.inter {
    font-family: 'Inter';
}
.onest {
    font-family: 'Onest';
}
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}

.purple {
    color: #973b8e;
}


body {
  
    box-sizing: content-box;
    background-color:#0c0c0c;
    height: 100vh;
}
.cols-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    gap: 1rem;
  height: 100vh;
}
@media screen and (max-width: 1750px)  {
    .cols-main {
        display: grid;
        grid-template-columns: 2fr 2fr;
        padding: 3rem;
        gap: 1rem;
    }
    .col3 {
      justify-self: center;
    }
}
@media screen and (max-width: 1200px)  {
    .cols-main {
        display: grid;
        grid-template-columns: 3fr;
        padding: 3rem;
        gap: 1rem;
    }
}

.col1,.col2,.col3 {
    gap: 1rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    height: 90vh;
}
@media screen and (max-width: 1200px)  {

  .col1,.col2,.col3 {
    height: 100%
}
}
.first-box-col1,.first-box-col2, .first-box-col3 {
    color: white;
    display: flex;
    background-color: #0e0e10;
    padding: 1rem;
    border-radius: 20px;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #1f1f1f;
    justify-content: center;
    
}
.profile {
    display: flex;
    gap: 1rem;
    align-items: start;
    justify-content: start;
    width: fit-content;
    
}
.right-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 11px;
}
.pfp {
    width: 100px;
    border-radius: 10px;
}
.gif {
    background-color: rgba(0, 128, 0, 0.247);
    border-radius: 10px;
    width: 15px;
}
.available {
    display: flex;
    background-color: rgba(0, 0, 0, 0.295);
    gap: 10px;
    padding: 3px 7px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: fit-content;
}
.damian  {
    font-size: 30px;
}

.skills {
    max-width:fit-content;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 20px;
    padding: 1rem;
    gap: 1rem;
}
.skill-imd {
    width: 20px;
}
.skill {
    display: flex;
    gap: 5px;
    background-color: #171718;
    padding: 5px 8px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.hire-me {
    width: 100%;
    border-radius: 20px;
    height: 2rem;
    padding: .5rem 0;
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: none;
    background-color: #ffe3fc;
    color: #973b8e
    }

.hire-me:hover {
    cursor: pointer;
    opacity: .9;
}

.servicii-p {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.servicii-pp {
  color: gray;
}

/*carusel*/


@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-350px * 7)); }
}
.second-box-col1, .second-box-col2, .second-box-col3 {
    color: white;
    background-color: #0e0e10;
    padding: 1rem;
    border-radius: 20px;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #1f1f1f;
}
.slider {
  padding-top: 3rem;
  display: flex;

	background: #0e0e10;

	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
  width: 400px;
  color: white;
  height: fit-content;
}

.slider::before,
.slider::after {
	background: linear-gradient(to right, #0e0e10 0%, rgba(255, 255, 255, 0) 40%);
	content: "";
	height: 100%;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slider .slide-track {
	animation: scroll 20s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slider .slide {
	height: 100px;
	width: 250px;
}
.slide p {
  color: #973b8e;
  font-size: 1.7rem;
}

.slide img {
  width: auto;
  border-radius: 5px;
  height: 100%;
}
/*slider2*/

@keyframes scroll2 {
  0% { transform: translateX(calc(-250px * 6)); } /* Start off-screen to the left */
  100% { transform: translateX(0); } /* Move to the right */
 
}

.slider2 {
  padding-top: 3rem;
  display: flex;
  background: #0e0e10;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 400px;
  color: white;
  height: fit-content;

}

.slider2::before,
.slider2::after {
  background: linear-gradient(to right, #0e0e10 0%, rgba(255, 255, 255, 0) 40%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider2::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider2::before {
  left: 0;
  top: 0;
}

.slider2 .slide-track2 {
  display: flex;
  width: calc(250px * 6); /* Adjusted for looping content */
  animation: scroll2 10s linear infinite; /* Adjust duration as needed */
  gap: 3rem;
}

.slider2 .slide {
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide p {
  color: #973b8e;
  font-size: 1.7rem;
}

.slide img {
  width: auto;
  border-radius: 5px;
  height: 100%;
}

.group3 .card {

    color: white;
    box-sizing: content-box;
    border-radius: 24px;
    box-shadow: rgba(255, 255, 255, 0.1) 5px 5px 20px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;

    &:nth-child(1) {
      background: #79797900;
    }

    &:nth-child(2) {
      background: #75296d00;
    }

    &:nth-child(3) {
      background: #5a1a5400;
    }
  }
  .third-box-col1, .third-box-col2, .third-box-col3{
    flex-direction: column;
    gap: 1rem;
    background-color: #0e0e10;
    padding: 1rem;
    gap: 1rem;
    color: white;
    border-radius: 20px;
    border: 1px solid#1f1f1f;
    align-items: center;
    justify-content: center;
}
.third-box-col1 {
  padding-bottom: 3rem;
}


.abilities {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap:1rem;
}

.ability {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border:none;
  background-color: #0c0c0c;
  border-radius: 15px;
}
.ability-image:hover {
  cursor: pointer;
  opacity: .9;
  scale: 1.1;
}
.left {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.left p {
  font-size: 1.3rem;
}
.ability-imagee {
  width: 40px;
}

.count-box {
padding: 1rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border: #1f1f1f solid 1px;
border-radius: 15px;
background-color: #0e0e10;
height: fit-content;
height: 100%;
}
.number {
  display: flex;
  align-items: center;
  gap: 3px;
}
.number p {
  font-size: 4rem;
  background: -webkit-linear-gradient(#eee, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plus-img {
  width: 50px;
}
.description {
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  font-family: Inter;
  gap: 3px;
}

.second-box-col2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: none;
  background-color: transparent;
  padding: 0;

}

.third-box-col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-box-col2 p {
  margin: 0;
  padding: 0;
}
.team {
  width: 150px;
  border: #1f1f1f solid 1px;
  border-radius: 150px;
}
.team-p {
  font-size: 1.5rem;
}
.buton-team {
  background-color: #171718;
  border: none;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}
.buttons {
  display: flex;
  gap: 1rem;
 
}
.buton-team:hover {
  opacity: .9;
  cursor: pointer;
  background-color: rgb(29, 29, 29);;
  
}
.socials {
  width: 35px;
}


.pasii {
  display: grid;
  grid-template-columns: repeat(4fr);
  gap: 1rem;
}
.pasii .ability:hover{
  transition: .2s;
  scale: 1.01;
  cursor: pointer;
}
.pasii .ability:hover > .right {
  animation: ease;
  transform: translateX(5%);
  opacity: .5;
}
.pasii .skill-imd {
  width: 35px;
}

@media screen and (max-width: 700px) {
  .cols-main {
    padding: 10px;
  }
  .carousel {
    max-width: 350px;
  }
  body {
    font-size: smaller;
    margin-bottom: 2rem;
  }
  .abilities {
    display: grid;
    grid-template-columns: 1fr;
  }
  .second-box-col2 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .count-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }
  .slider, .slider2 {
    width: 250px;
  }

 

}

